.hero-unit
  .header
    %h1= active
  .content
    %p Ciao mondo by simo.
  .alert
    %button{:type => "button", :class => "close", :"data-dismiss" => "alert"} x
    Best check yo self, you're not looking too good.
