%html
	%head
		%title Simone Bottecchia page
		%link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
		%script{ :src => "javascripts/bootstrap.min.js" }
		%script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" } 
	%body
		.container
			.navbar
				.navbar-inner
					%a{:class =>"brand",:href => "/"} SMNB
					%ul{:class =>"nav"}
						-if active=="index"
							%li{:class =>"active"}
								%a{:href =>"/"} HOME	
						-else
							%li 
								%a{:href =>"/"} HOME
						-if active=="about"
							%li{:class =>"active"}
								%a{:href =>"/about"} ABOUT	
						-else
							%li 
								%a{:href =>"/about"} ABOUT
						-if active=="cv"
							%li{:class =>"active"}
								%a{:href =>"/cv"} CV	
						-else
							%li 
								%a{:href =>"/cv"} CV
			=yield